body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display:inline-block;
}

#home{
    text-align: center; 
    display: block;
}

.redirectButton{
    width: 200px;
    height: 50px;
    margin-bottom: 5px; 
    border: 4px solid #333;
    border-radius: 10px;
    background-color: #333;
    color: #f2f2f2; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;     
    transition: border-color 0.3s;
}

.redirectButton:hover{
    background-color: #777;
    border-color: #777;
}

.forms{
    border: 4px solid #333;
    border-radius: 10px;
    margin-bottom:10px;
    padding: 10px;
    flex-direction: column;
}

input{
    border: 4px solid #333;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 40px;
}

input:hover{
    border-color: #777;
}

.formButton{
    border: 4px solid #333;
    border-radius: 10px;
    background-color: #333;
    color: #f2f2f2; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;   
    transition: border-color 0.3s;
}

.formButton:hover{
    background-color: #777;
    border-color: #777;
}

.calcs{
    border-radius: 10px;
    color:#f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}